<!DOCTYPE html>
<meta charset="utf-8">
<body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script>
    var width = 960,
        height = 640;

    var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height);
  </script>

  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script>

    d3.json("static/data/NYC.json", function(error, nyc) {
    if (error) return console.error(error);
    var units = topojson.feature(nyc, nyc.objects.NYC);
    var projection = d3.geo.mercator().center([-73.94, 40.70]).scale(40000).translate([width / 2, height / 2]);
    var path = d3.geo.path().projection(projection);
    svg.append("path").datum(units).attr("d", path);
    });

  </script>

</body>
</html>
